#menu--cont {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#logo {
  width: 70px;
}

#title {
  font-size: 2.8rem;
  font-weight: 700;
  user-select: none;
}

#menu--cont {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: 300;
}

#menu--cont li {
  transition: 0.2s all;
  cursor: pointer;
}

#menu--cont li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

#highScore {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.1rem;
  user-select: none;
}

#reset--cont {
  position: absolute;
  padding: 15px 25px;
  background-color: #262626;
  color: var(--white);
  border: 1px solid #515050ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

#reset--cont div {
  display: flex;
  gap: 10px;
}

#reset--cont p {
  font-size: 1.8rem;
}

#reset--cont span {
  cursor: pointer;
  transition: 0.2s all;
  padding: 2.5px 10px;
  border: 1px solid #515050ec;
  border-radius: 2px;
}

#reset--cont span:hover {
  transform: scale(1.1);
  background-color: #00000013;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
}

#reset--cont span:first-of-type:hover {
  color: #ff7681;
}

@media screen and (min-width: 768px) {
  #menu--cont {
    height: 400px;
  }

  #highScore {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-right: 10px;
  }
}
